@model List<UsersView>
@{
    Layout = "_Admin_Layout";
    ViewData["Title"] = "Register New Admin";
    var currentUserName = Context.User.Identity.Name;
}
<h1>User List</h1>

<form asp-controller="AdminDashboard" asp-action="Delete" method="post">
    <table class="table">
        <thead>
            <tr>
                <th>User Name</th>
                <th>Email</th>
                <th>Roles</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.Where(u => u.UserName != currentUserName))
            {
                <tr>
                    <td>@user.UserName</td>
                    <td>@user.Email</td>
                    <td>@string.Join(", ", user.Roles)</td>
                    <td>
                        <button type="submit" class="btn btn-link" name="userId" value="@user.UserId">Delete</button>
                    </td>
                    <td><a asp-action="View" asp-controller="AdminDashboard" asp-route-id="@user.UserId">View Resume</a></td>
                </tr>
            }
        </tbody>
    </table>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    
}